<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <script src="assets/javascripts/Chart.bundle.min.js"></script>
  </head>
  <body>
    <canvas id="raw_run_times">
    </canvas>
    <script>
      var suite = <%= suite_json %>;
      var run_times = suite.run_times;
      var statistics = suite.statistics;
      var canvas = document.getElementById("raw_run_times");
      var myChart = new Chart(canvas, {
          type: 'bar',
          data: {
              labels: run_times["flat_map"].map(function(_) {return "";}),
              datasets: [{
                  label: 'run time',
                  data: run_times["flat_map"],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    </script>
  </body>
</html>
